<configuration scan="true" scanPeriod="30 seconds">
    <!-- We use the value directly from System property KTOR_ENV, which is always set -->
    <property name="env" value="${KTOR_ENV}" />
    <!-- Load configuration based on environment -->
    <include resource="logback-${env}.xml"/>
</configuration>
